[user]
    name = rcxid
    email = gc6174@gmail.com

[init]
    defaultBranch = master

[core]
    pager = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    # syntax-theme = Monokai Extended
    syntax-theme = Nord
    # navigate = true
    features = side-by-side line-numbers

[interactive]
    diffFilter = delta --color-only
